body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  cursor: pointer;
}

header {
  height: 10vh;
  width: 100%;
}

.navBar {
  height: 100px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

li {
  float: right;
}

/* unvisited link */
a:link {
  color: rgba(207, 130, 213, 0.6);
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* selected link */
a:active {
  color: #f9fafc;
  float: right;
  border-radius: 50%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/* hovered link */
a:hover {
  color: #f9fafc;
  background-color: #000000;
  float: right;
  border-radius: 50%;
}

/* visited link */
a:visited {
  color: rgba(207, 130, 213, 0.6);
  float: right;
}

/* chirpus inc. */
.coName {
  float: left;
}

.leftContainer {
  height: 125px;
  width: 27%;
  position: relative;
  display: block;
  border-top: #f9fafc;
  border-right: #f9fafc;
  border-bottom: #f9fafc;
  border-left: #69696a;
  border-style: solid;
}

p {
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 25px;
}

.rightContainer {
  height: 150px;
  width: 25%;
  float: right;
  position: relative;
  z-index: 2;
}

button {
  height: 40px;
  width: 22%;
  color: #f9fafc;
  background-color: #000;
  box-shadow: initial;
  border-radius: 45%;
  position: absolute;
  margin-top: 150px;
  margin-left: 650px;
}
